html {
  box-sizing: border-box;

}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: grey;
}
h1 {
  text-align: center;
  color: white;
  font-family: 'Muli', sans-serif;
  padding-bottom: 30px;
}
table {
  max-width: 35%;
  max-height: 50%;
  text-align:center;
  position:absolute;
  top:20%;
  left:34%;

}
td {
  /*border: 4px solid red;*/
  padding: 40px;
  text-align:center;
  background-color: black;
  /*max-width: 20%;
  max-height: 20%;*/

}

tr {
  color: white;
  /*max-width: 20%;
  max-height: 20%;*/
  text-align:center;
  font-size: 24px;
  font-family: 'Muli', sans-serif;
}
/*.board-size-in {
    text-align:center;
}*/
/*button.in {
  position:relative;
  top:4%;
  border-radius: 0;
  padding:5px;
  margin-top:1%;
  margin-bottom: 10px;
  font-size: 18px;

}*/
